main {
  background-color: #282d35;
  background-image: url(../images/reactjs-bg-icon.svg);
  background-position: right 35%;
  background-repeat: no-repeat;
  height: 100vh;
}

.main__title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1.75rem;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

.main__list {
  color: white;
  padding-left: 5rem;
}

.main__list > li {
  font-size: 1rem;
}

.main__list li::marker {
  color: #61dafb;
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
